<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    </head>    
<body>

<div ng-app="myApp" ng-controller="myCtrl">

    <div class="container">
        <h2>Basic Progress Bar</h2>
        <p>To create a default progress bar, add a .progress class to a container element and add the progress-bar class to its child element. Use the CSS width property to set the width of the progress bar:</p>
        <div class="progress">{{prozent}}%
          <div class="progress-bar" ng-style="{'width':prozent+'%'}"></div>
        </div>
      </div>
      <div style="height:30px"></div>
      <div class="container"> 
            <button type="button" class="btn btn-outline-primary" ng-click="prozent=prozent+10">+10</button>
            <button type="button" class="btn btn-outline-primary" ng-click="prozent=prozent-10">-10</button>
            <div class="mt-5 mb-5 alert alert-success" ng-show="isSuccess()">
                    <strong>Success!</strong> Indicates a successful or positive action.
            </div>            
            <div class="mt-5 mb-5  alert alert-warning" ng-show="isWarning()">
                    <strong>Warning!</strong>
            </div>            
            <div class="mt-5 mb-5 alert alert-danger" ng-show="isDanger()">
                    <strong>Danger!</strong>
            </div>           
            <h2>Basic List Group</h2>
            <ul class="list-group" ng-repeat="x in items">
              <li ng-class="itemclass[$index]" ng-click="setActive($index)">{{x}}</li>
            </ul>   

            <select class="mt-5">
                <option ng-repeat="x in items" ng-click="setActive($index)" ng-selected="selected==$index">{{x}}</option>
            </select>

            <ul class="mt-5 nav nav-pills">
                <li class="nav-item" ng-repeat="x in items">
                  <a ng-class="itemclassnav[$index]" ng-click="setActive($index)" href="#">{{x}}</a>
                </li>
            </ul>             
                             
      </div>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.prozent=25;
    $scope.items=["First item","Second item","Third item"];
    $scope.itemclass=[];
    $scope.itemclassnav=[];
    $scope.selected=0;
    angular.forEach($scope.items,function() {
        $scope.itemclass.push("list-group-item");
        $scope.itemclassnav.push("nav-link");
    });

    $scope.isSuccess=function() {
        return $scope.prozent>=0 && $scope.prozent<=100;
    }
    $scope.isWarning=function() {
        return $scope.prozent<0;
    }
    $scope.isDanger=function() {
        return $scope.prozent>100;
    }
    $scope.setActive=function(index) {
        var idx=0;
        angular.forEach($scope.itemclassnav, function () {
            console.log(idx+".:"+$scope.itemclassnav[idx++]);
        });
        
        $scope.selected=index;
        $scope.itemclass=[];
        $scope.itemclassnav=[];
        angular.forEach($scope.items,function() {
            $scope.itemclass.push("list-group-item");
            $scope.itemclassnav.push("nav-link");
        });
        $scope.itemclass[index]="list-group-item active";
        $scope.itemclassnav[index]="nav-link active";
    }
    $scope.setActive($scope.selected);
});
</script>

</body>
</html>